<key>NSPhotoLibraryUsageDescription</key>
<string>This app requires access to your photo library to allow you to select and upload photos.</string>

<key>NSPhotoLibraryAddUsageDescription</key>
<string>This app requires permission to save photos to your photo library.</string>

<key>CFBundleDisplayName</key>
<string>What's Real?</>
